[submodule "vendor/Cmdr"]
	path = vendor/Cmdr
	url = https://github.com/evaera/Cmdr
[submodule "vendor/ProfileService"]
	path = vendor/ProfileService
	url = https://github.com/MadStudioRoblox/ProfileService
