[submodule "Cmdr"]
	path = vendor/Cmdr
	url = https://github.com/evaera/Cmdr.git
[submodule "ProfileService"]
	path = vendor/ProfileService
	url = https://github.com/MadStudioRoblox/ProfileService.git
